# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment & Keys
.env
.env.local

# Builds & Outputs
frontend/dist/
backend/api_output/
*.zip
*.mp4

# Model Checkpoints & Large Data
dataset/
florence_game_lora_checkpoints/
*.pth
*.safetensors
